


tienda-active{
    display: block;
    
}


.modal_tienda{
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white; 
    display: none; 
}

.bodyModalTienda{
    
    width: 100%;
    height: 100%;
    display: -webkit-inline-flex; 
    display: -moz-inline-flex; 
    display: -ms-inline-flex; 
    display: -o-inline-flex; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
}










