@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap');

/*===== VARIABLES CSS =====*/
panelGrid{
    width: max-content;
}

:root{
    --header-height: 3rem;
    /*-------- Colores ---------*/
    --hue-color: 19; /*del hsl() la primera (el q le da color), esta como variable para solo cambiar eso*/
    /*no esta implementado como variable ahora, para poder ver los colores*/

    /*-- Color mode --*/
    --first-color: hsl(19, 64%, 22%); /*hsl(hue, saturation, ligthness) una forma de dar color*/
    --first-color-second: hsl(19, 64%, 22%) ;
    --first-color-alt: hsl(19, 64%, 15%) ;
    --title-color: hsl(19, 64%, 18%);
    --text-color: hsl(19, 34%, 35%);
    --text-color-ligth: hsl(19, 8%, 50%);
    --input-color: hsl(190, 24%, 97%);
    --body-color: hsl(190, 100%, 99%);
    --white-color: #fff;
    --scroll-bar-color: hsl(19, 12%, 90%);
    --scroll-thumb-color: hsl(19, 12%, 75%);

    /*-------- Font and typography ---------*/
    --body-font: 'Open Sans', sans-serif; /*tipografia de todo el cuerpo*/
    --title-font: 'Raleway', sans-serif ; /*tipografia de titulo*/
    --biggest-font-size: 2.5rem ; /*tamaño mas grande*/
    --h1-font-size: 1.5rem;      /*tamaño del h1*/ 
    --h2-font-size: 1.25rem;     /*tamaño del h2*/
    --h3-font-size: 1rem;        /*tamaño del h3*/
    --normal-font-size: .938rem ; /*tamaño normal para parrafo*/
    --small-font-size: .813rem;   /*tamaño pequeño*/
    --smaller-font-size: .75rem;  /*tamaño mas pequeño*/

    /*-------- Font weight (el tamaño de negrita al text)--------*/
    --font-medium: 500;  
    --font-semi-bold: 600;

    /*-------- Margenes Bottom (margenes abajo )---------*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /*-------- z index (definir lo importante)---------*/
    --z-tooltip:10 ;
    --z-fixed: 100;

    /*-------- Hover overlay -------*/
    --img-transition:.3s ; /*transicion de una imgen*/
    --img-hidden: hidden;
    --img-scale: scale(1.1); /*escala*/
}

@media screen and (min-width: 968px){ /*cuando el tamaño de pantalla este 968px*/
    :root { /*las variables q se habian definido cambiaran a estas nuevas*/
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem ;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }


}

/*===== BASE ================================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img, video{
    max-width: 100%;
    height: auto;
}

button,
input{
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

button{
    cursor: pointer;
}

input{
    outline: none;
}


.main{
    overflow-x: hidden;
}

.boxForm{
    padding-right: 100px;
    padding-left: 100px;
}


/*-------- Termina Código principal de look ---------*/

.tituloServicios{
    background-color: white ; 
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #7f4f24;
}
.tituloRegistro{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}
.barra{
    background-color: var(--text-color-ligth) ; 
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    flex-direction:row;
    align-items: baseLine;
    justify-content: center;
}


.columnaBarra{
    width:40px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.columnaBarra p{
    padding-top:15px;
    color: var(--white-color);
}

.barraTipo{
    padding-top: 30px;
    padding-bottom: 30px;
    display:flex;
    flex-direction:row;
    align-items: baseLine;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
}
.EnvioSobre{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}
.EnvioSobre div{
    width: 140px;
    padding-left: 5px;
    padding-right: 5px;
}
.EnvioSobre p{
    text-align: center;
}



.lapiz{
    min-width: 20px;
    max-width: 30px;
}


.filaFormulario{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.seccion30{
    border-radius: 7px;
    height:25px;
    width:30.6%;
    margin:1%;
    position:relative;
    display: flex;
    flex-direction: column;
}
.seccion35{
    border-radius: 7px;
    height:25px;
    width:34.2%;
    margin:1%;
    position:relative;
    display: flex;
    flex-direction: column;
}
.select30{
    border-radius: 7px;
    width:30.6%;
    margin:1%;
    position:relative;
    display: flex;
    flex-direction: column;
}
.select50{
    border-radius: 7px;
    width:47%;
    margin:1%;
    position:relative;
    display: flex;
    flex-direction: column;
}
.select90{
    border-radius: 7px;
    width:96%;
    margin:1%;
    position:relative;
    display: flex;
    flex-direction: column;
}

.seccion22{
    border-radius: 7px;
    height:25px;
    width:22.5%;
    margin:1%;
    position:relative;
    display: flex;
    flex-direction: column;
}
.seccion46{
    border-radius: 7px;
    height:25px;
    width:46.8%;
    margin:1%;
    position:relative;
    display: flex;
    flex-direction: column;
}
.seccion40{
    border-radius: 7px;
    height:25px;
    width:40%;
    margin:1%;
    position:relative;
    display: flex;
    flex-direction: column;
}

select{
    padding: 0.3em 0.6em;
    height: 2.2em;
    padding-left:2px;
    background-color: transparent;
    margin-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
    font-weight: normal;
    overflow: hidden;
    text-shadow: 0 1px 0 white;
    -webkit-transition: box-shadow 200ms, border-color 200ms;
    -moz-transition: box-shadow 200ms, border-color 200ms;
    transition: box-shadow 200ms, border-color 200ms;
    white-space: nowrap; 
    -webkit-appearance: button;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

select:disabled, select:disabled:hover {
  color: #cccccc !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) !important; 
}

.seccion60{
    border-radius: 7px;
    height:25px;
    width:60%;
    margin:1%;
    position:relative;
    display: flex;
    flex-direction: column;
}
.seccion90{
    border-radius: 7px;
    height:25px;
    width:96%;
    margin:1%;
    position:relative;
    display: flex;
    flex-direction: column;
}
.seccion50{
    border-radius: 7px;
    height:25px;
    width:47%;
    margin:1%;
    position:relative;
    display: flex;
    flex-direction: column;
}
input{
    border:1px solid black !important;
    border-radius: 7px;
    padding-left:8px;
    height: 25px;
}

label{
    top:0;
    position:absolute;
    transition: 0.5s ease all;
    padding-left:8px;
}

@media screen {   /*safari and chrome*/
    select {
        height: 30px;
        background: #f4f4f4;
    }
}

.calculoPago{
    padding-left:8px;
}


.areaDatos{
    margin-bottom: 3rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 15px 35px rgb(0 0 0 / 10%);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.areaDatos h2{
    padding-left:15px;
}
form{
    width: content-box;
}

.frame1{
    width: content-box;
}


form fieldset{
    border: #ffffff;
}

.boton{
    padding-top:10px;
    padding-bottom:20px;
    position:relative;
    display: flex;  
    flex-flow:row;
    justify-content: center;  
    align-items: center; 
}

button{
    box-shadow:
        0 1px 2px rgba(0,0,0,0.07), 
        0 2px 4px rgba(0,0,0,0.07), 
        0 4px 8px rgba(0,0,0,0.07), 
        0 8px 16px rgba(0,0,0,0.07),
        0 16px 32px rgba(0,0,0,0.07), 
        0 32px 64px rgba(0,0,0,0.07);
    padding: 0.7rem;
    border-radius:20px;
    margin: 1rem;
}
.button_cont{
    transition: 0.4s;
}

.button_cont:hover {
    background-color: #7f4f24;
    color: #fff;
}

table td svg, table th svg{
    width:20px;
}

.borrar{
    background-color:red;
    width:30px;
}
.total{
    background-color:black;
}
.modificar{
    background-color:greenyellow;
    width:30px;
}

iframe:before{
    border-color:transparent;
}
iframe{
    border-color:transparent;
}

.agregar{
    box-shadow:
        0 1px 2px rgba(0,0,0,0.07), 
        0 2px 4px rgba(0,0,0,0.07), 
        0 4px 8px rgba(0,0,0,0.07), 
        0 8px 16px rgba(0,0,0,0.07),
        0 16px 32px rgba(0,0,0,0.07), 
        0 32px 64px rgba(0,0,0,0.07);
    padding: 0.7rem 1rem;
    border-radius:10%;
    margin-right: 2px;
    background-color: green;
    color: white;
    font-size:12px;
}

.resumenEnvios{
    padding: 5px;
}

.resumenEnvios h2{
    padding-left:100px;
}
.rsen{
    padding-left:2%;
}
.resumenEnvios p{
    text-align:center;
}

table{
    width: 100%;
    border-collapse: collapse;
}
table thead{    
    background-color: var(--first-color-second);
    top: 0;
}

table thead th{
    color:white;
}
table tr{    
    color: var(--first-color-second);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-interno {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*******        CONTACTO       *******/


.contact-box {
    padding: 3rem;
}


.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
}


.form-control {
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: 1.5rem 1rem;
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }   



}

@media (max-width: 1200px) { 
    .register-bg {
        min-height: 50vh;
    }

    .boxForm{
        padding-right: 10px;
        padding-left: 10px;
    }      

}
