/*===== GOOGLE FONTS (tipografia) =====*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root{
	--header-height: 3rem;
	/*-------- Colores ---------*/
	--hue-color: 19; /*del hsl() la primera (el q le da color), esta como variable para solo cambiar eso*/
										/*no esta implementado como variable ahora, para poder ver los colores*/

	/*-- Color mode --*/
	--first-color: hsl(19, 64%, 22%); /*hsl(hue, saturation, ligthness) una forma de dar color*/
	--first-color-second: hsl(19, 64%, 8%) ;
	--first-color-alt: hsl(19, 64%, 15%) ;
	--title-color: hsl(19, 64%, 18%);
	--text-color: hsl(19, 34%, 35%);
	--text-color-ligth: hsl(19, 8%, 50%);
	--input-color: hsl(190, 24%, 97%);
	--body-color: hsl(190, 100%, 99%);
	--white-color: #fff;
	--scroll-bar-color: hsl(19, 12%, 90%);
  --scroll-thumb-color: hsl(19, 12%, 75%);

	/*-------- Font and typography ---------*/
	--body-font: 'Open Sans', sans-serif; /*tipografia de todo el cuerpo*/
	--title-font: 'Raleway', sans-serif ; /*tipografia de titulo*/
	--biggest-font-size: 2.5rem ; /*tamaño mas grande*/
	--h1-font-size: 1.5rem;      /*tamaño del h1*/ 
	--h2-font-size: 1.25rem;     /*tamaño del h2*/
	--h3-font-size: 1rem;        /*tamaño del h3*/
	--normal-font-size: .938rem ; /*tamaño normal para parrafo*/
	--small-font-size: .813rem;   /*tamaño pequeño*/
	--smaller-font-size: .75rem;  /*tamaño mas pequeño*/

	/*-------- Font weight (el tamaño de negrita al text)--------*/
	--font-medium: 500;  
	--font-semi-bold: 600;

	/*-------- Margenes Bottom (margenes abajo )---------*/
	--mb-0-25: .25rem;
	--mb-0-5: .5rem;
	--mb-0-75: .75rem;
	--mb-1: 1rem;
	--mb-1-25: 1.25rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;

	/*-------- z index (definir lo importante)---------*/
	--z-tooltip:10 ;
	--z-fixed: 100;

	/*-------- Hover overlay -------*/
	--img-transition:.3s ; /*transicion de una imgen*/
	--img-hidden: hidden;
	--img-scale: scale(1.1); /*escala*/
}

@media screen and (min-width: 968px){ /*cuando el tamaño de pantalla este 968px*/
	:root { /*las variables q se habian definido cambiaran a estas nuevas*/
		--biggest-font-size: 4rem ;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.75rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem ;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}


}

/*===== BASE ================================*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	scroll-behavior: smooth;
}

body{
	margin: var(--header-height) 0 0 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
}

h1,h2,h3{
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
	font-family: var(--title-font);
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

img, video{
	max-width: 100%;
	height: auto;
}

button,
input{
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

button{
	cursor: pointer;
}

input{
	outline: none;
}

section[id]{
	scroll-margin-top: 200px;
}

.main{
	overflow-x: hidden;
}


/*===== REUSABLE CSS CLASES ================================*/
.section{
	padding: 0rem 0 5rem ;
}

.section_title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}

.container{
  max-width: 1100px; /*max del contenido de la pantalla mas no el tamaño de la pantalla*/
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid{
	display: grid;
	gap: 1.5rem; /*margen entre arriba abajo*/
}

/*===== HEADER = (La caja del menu)============================================================================*/

.header{
	width: 100%; /*al 100% de ancho de la pantalla*/
	position: fixed; /*posicion fija*/
	top: 0; /*ningun margen arriba*/
	left: 0; /*ningun margen a la izquierda*/
	z-index: var(--z-fixed); /*siempre esta adelante que todos*/
	background: rgba(255, 255, 255, 0.3); /*el fondo color rgba(rojo,azul,verde, transparencia)*/
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05); /*sombra a la caja*/
	border: 1px solid rgba(255, 255, 255, 0.25); /*borde de tamaño 1pz color solido*/
	border-top: 1px solid rgba(255, 255, 255, 0.5); /*color de borde arriba diferente*/
	border-left: 1px solid rgba(255, 255, 255, 0.5); /*color de izquierda diferente*/

}

/*===== NAV = (el menu)===============================*/
.nav{
	height: var(--header-height);
	display: flex; /*posicion fija*/
	justify-content: space-between; /*espacio entre ellos*/
	align-items: center; /*en el centro cualqier letra o icono*/
}

.nav_logo{
	font-weight: var(--font-semi-bold); /*anchura*/
	color: var(--first-color); /*color*/
}


/*-----menu cel-----------------------------------------*/
.nav_toggle{
	font-size: 1.5rem; /*tamaño del icono */
	color: var(--first-color);
	cursor: pointer;

}
.nav_user{
	font-size: 1.9rem;
	transition: all 0.3s ease-out;
	color: #fff;
}
.nav_user_text{
	align-content: center;
	font-weight: var(--font-semi-bold);
	padding-left: 0.5rem;
}

.nav_user_animed{
	border-radius: 50px;
	width: 100px;
	height: 30px;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
	color: #fff;
	background-color: 
	 var(--text-color-ligth);
	 transition: 0.3s;
}
.nav_user_animed:hover{
	box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
	background-color:var(--first-color);
	
}


@media screen and (max-width: 639px){ /*cuando la pantaña tenga un max de 639*/
	.nav_menu{ /*el contenido del menu*/
		position: fixed;
		top: 0;
		right: -100%;	/*meno -100 para esconder el menu, cuando haces click en toogle automaticamente se actualiza a 0 (nuestra menu)*/	
		width: 70%; /*el tamaño del menu en cel*/
		height: 100%; /*la altura del menu*/
		padding: 3rem;; /*margen para q el contenido no este pegado a la caja*/
		transition: .4s; /*animacion dura 4seg */
		box-shadow: -1px 0 4px rgba(237, 196, 179, 0.15);
		background-color: var(--body-color);
	}
}

.nav_list{
	display: flex; /*que esten felxibles (su flexibilidad va hacia a la dercha)*/
	flex-direction: column; /*la direccion de su felxibilidad (columna)*/
	row-gap: 2.5rem; /*margen de arriba y abajo entre columna*/

}

.nav_link{
	color: var(--text-color-ligth);
	font-weight: var(--font-semi-bold);
	text-transform: uppercase; /*el texto en mayusculo*/

}

.nav_link:hover{ /*cuando haces click en el link del menu cambia color*/
	color: var(--text-color);
}

.nav_close{
	position: absolute; /*su posicion es absoluta, adelante de todos*/
	font-size: 1.5rem; /*tamaño de icono*/
	top: 1rem; /*margen arribba*/
	right: 1rem; /*margen a derecha*/
	color: var(--text-color);
	cursor: pointer;
}

/* show menu */
.show-menu{ /*aqui se actualiza la informacion en right de -100 a 0*/
	right: 0;
}

/* cambio de background header (cambio de fondo de color cuando baja la reuda del raton)*/
.scroll-header{ /*variable creado en js main*/
	background-color: var(--first-color) ; 
	box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
}

.scroll-header .nav_logo, /*cuando el header cambia, el logo cambia color. cuando header cambia icono, cambia color*/
.scroll-header .nav_toggle{
	color: var(--white-color);
}

/* Active link (cuando esa seccion esta activa, el usuario esta en esa seccion)*/
.active-link{
	position: relative; /*tiene una posicin relativa, puede ser cambainte*/
	color: var(--title-color) ;
}

.active-link::before{ /*antes q cualquier cosa pase con active link */
	content: ''; /*el espacio significa _*/
	position: absolute; /*siempre posicion absoluta no se mueve de ahi*/
	background-color: var(--title-color);
	width: 100%; 
	height: 2px; /*tamaño del _*/
	bottom: -.75rem; /*estara abajo del link de nav*/
	left: 0;
}

/*Iconos- (social links)------------------------------------------------------------------------------------------*/


.sci{
	position: fixed; /*siempre tendran esa posicion*/
	z-index: 998; /*es importante pero menos que el header, por lo tanto los iconos estan despues del header y no superpuestas*/
	display: flex; /*felxible*/
	flex-direction: column; /*su felxibilidad en columna*/
	justify-content: center; 
	align-items: center;
	padding-left: 15px; /*margen a la derecha*/
  padding-top: 230px; /*margen de arriba*/
  
}
.home_social-link{
  font-size: 1.6rem; /*tamaño de los iconos*/
  width: max-content; /*el tamaño q ocupara sera al max*/
  color: var(--text-color-ligth);
}

.sci li a { /*la cajita de los iconos*/
    text-decoration: none; /*ninguna decoracion*/
    width: 40px; /*tamaño ancho*/
    height: 40px; /*tamaño altura*/
    background: #fff; /*color*/
    display: flex; /*su felxibilidad*/
    justify-content: center; /*centro*/
    align-items: center;
    border-radius: 50%; /*borde para q no sea cuadrado si no bordes circulares, 50 para q sea circulo*/
    margin: 5px 0; 
    transition: 0.3s;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%); /*sombra para un costado solo 10%*/
}

.sci li:hover a { /*cuando de la lista click los botones cambia color*/
	color:var(--first-color-alt) ;
	
}
/*===== INICIO ==(seccion inicio)========================================================================================*/
.home{
	align-content: center; /*todo contenido en el centro*/
}

.home_container{
	position: relative; 
	row-gap: 1rem;
	text-align: right;
	align-content: center;
	
}

.home_img{
	position: absolute; /*La imagen posicion absoluta*/
	top: 0;
	left: 0;
	width: 100%; /*ancho al 100 de la pantalla*/
	height: 100vh; /*altura 100 de la pantalla*/
	object-fit: cover; /*la img tiene un zoom+ hasta q llegue al 100% de la pantalla*/
}

.home_container,
.home_img{
	height: 640px;/*tamaño de la imagen*/
}


.home_data_titulo{
	font-size: var(--biggest-font-size);
	font-weight: var(--font-medium);
  color: var(--white-color);
}

.home_info{
	color: var(--white-color);
	padding-left: 10rem
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block; /*me permite configurarlo mientras mantenga su margen auto*/
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  transition: .3s; 
  border-radius: 30px;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button--flex {
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.button--link {
  background: none;
  padding: 0;
}

.button--link:hover {
  background: none;
}

/*=============== NUESTROS SERVICIOS ===============*/
.nuestro_servicio {
		text-align: center;
		 row-gap: 1rem;
}

.nuestro_servicio-link{
  font-size: 10rem;
  width: max-content;
  color: var(--text-color-ligth);
}

.nuestro_servicio-link:hover{
	color: var(--text-color);
}

.nuestro_servicio_serivio{
	margin: 3rem 5rem 3rem;
	padding: 2rem;
	background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 15px 35px rgb(0 0 0 / 10%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.nuestro_servicio_subtitulo,
.nuestro_servicio_infoCard{
	padding: 1rem;
}

/*=============== XQ TRABAJO ===============*/
.xq_trabajo{
	background-image: linear-gradient(to top, var(--first-color-alt) 0%, var(--body-color) 100%);

}

.xq_trabajo_container{
	margin: 6rem;
	text-align: center;
	align-content: center;
}

.xq_trabajo_info{
	padding: 4rem;
}

.xq_trabajo_titulo,
.xq_trabajo_respuesta{
margin-bottom: var(--mb-0-75);
}

.xq_trabajo_img{
	border-radius: 20px;
}

.xq_trabajo_img:hover{
}

/*=============== EMPRESA ===============*/
.empresa_container{
	margin-right: 2rem;
  margin-left: 2rem;
  align-content: center;
}
.epmpresa_info{
	text-align: center;
	margin: 1rem;
}
.empresa_titulo{
	text-align: center;
	margin-bottom: 1rem;
}

.empresa_subtitulo{
	margin-bottom: 1rem;
}

.empresa_img{
	border-radius: 20px;
}

/*=============== Nosotros somos ===============*/
.mision_vision_superCard{
	text-align: center;
	margin-bottom: 4rem;
	margin-top: 2.5rem;
	padding: 2rem;
	background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 15px 35px rgb(0 0 0 / 10%);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.mision_vision_felxIconTitulo{
	align-items: center;
	padding-bottom: 1rem;
}

.mision_vision-link{
	margin-left: 1rem;
  font-size: 2.5rem;
  width: max-content;
  color: var(--text-color-ligth);
}

.mision_vision_subtitulo{
	padding-left: 0.8rem;
	text-align: center;
}

.mv_img{
	border-radius: 20px;
	margin-top: 1rem;
}

/*=============== CONTACTO ===============*/
.field:focus{
	border-color: #000000;
}

.contacto_flex{
	display: flex;

}

/*=============== FOOTER===============*/
.footer{
	background-color: var(--first-color-alt);
	border: none;

}
.footer_container{
	row-gap: 1rem ;
	justify-content: center;
	color: var(--white-color);
}


.footer_data{
	padding-top: 2rem;
	padding-bottom: 1rem;
	align-items: center;
}

.footer_title{
	color: var(--input-color);
	text-align: center;
	font-size: var(--h1-font-size);
	padding: 2rem;
}

.footer_item{
	text-align: center;
	padding: 1rem;
}

.footer_item a{
	color: var(--text-color-ligth);

}

.footer_item a:hover {
	color: var(--white-color);

}

.footer_contacto {
	display: flex;
	padding: 1rem;
	color: var(--text-color-ligth);
}

.footer_contacto:hover{
	color: var(--white-color);
}

.footer_icon{
	font-size: 1.6rem;
  width: max-content;
  color: var(--text-color-ligth);
  margin: 1rem;
}

.footer_rights{
	text-align: center;
}
/*=============== SCROLL UP ===============*/
.scrollup{
	position: fixed;
	right: 1rem;
	bottom: -20%;
	background-color: var(--first-color);
	border-radius: 20px;
	padding: .5rem;
	display: flex;
	opacity: .9;
	z-index: var(--z-tooltip);
	transition: .4s;
	font-size: 1.4rem;
}

.scrollup_icon{
	color: var(--white-color);
}

.scrollup:hover{
	background-color: var(--first-color-alt);
	opacity: 1;
}


/* show scrollup */
.show-scroll{
	bottom: 5rem;
}

/* SCROLL BAR------------ */
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-ligth);
}
/*===== LOGIN  ============================================================================*/
.modal_login{
	position: fixed;
	top: 15%;
	justify-content: center;
	text-align: center;
	z-index: 100;
}
.loginNone{
    display: none;
}

.login-active{
	display: block;
}

.login_info{
	display: flex;
	flex-direction: column;
	line-height: 2rem;
	text-align: left;
}

.login_info input{
	padding: 0.2rem;
  border-radius: 30px;
  border-color: 1px solid rgba(255, 255, 255, 0.02);
  cursor: pointer;
}

.login_recuerda{
	text-align: left;
	margin: 1rem 0;

}

.login_recuerda input, label{
	cursor: pointer;
}

.login_recuerda input, label:hover {
	color: var(--first-color)
}

.login_olvPass{
	margin-top: 1rem;
	
}

.login_olvPass a{
	color: var(--text-color-ligth);
	transition: 0.5s;
}

.login_olvPass a:hover {
	color: var(--first-color);
}


.cerrar_login{
	position: absolute;
	font-size: 1.4rem;
	top: 10px;
	right: 10px;
	width: 15px;
}

/*botones_login*/
.icon_userLogin{
	font-size: 6rem;
}

.icon_close{
	color: #000;
	transition: 0.5s;
	cursor: pointer;
}
.icon_close:hover {
	color: red;
}

.seccion_login{
	margin: 1rem 2rem;
  padding: 1.5rem ;
  background: var(--white-color);
  box-shadow: 0 15px 35px rgb(0 0 0 / 10%);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}


/*======== MEDIA QUERIES (cambios dependiendo el tamaño de la pantalla) ================================*/
/* For small device */
@media screen and (max-width:500px){
	.modal_login{
	left: 18%;
}

	.home_container,
	.home_img{
		height: 550px;
	}

	.sci{
	padding-left: 15px;
  padding-top: 180px;
	}

	.home_social-link{
  font-size: 1.2rem; 
	}

	.sci li a {
    width: 30px;
    height: 30px;    
	}

	.home_data_titulo{
		font-size: 30px;
	  
	}

	.home_info{
		padding-left: 3rem;
  }

  .button {
	  padding: .8rem .8rem;	  
	}

	.scrollup{	
		font-size: 1rem; 
	}


	.nuestro_servicio_serivio{
		margin: 0rem 1rem 5rem ;
	}

	.nuestro_servicio-link{
  	font-size: 8rem;
	}

	.nuestro_servicio_titulo{
			padding-left: 1rem;
	}

	.nuestro_servicio_info{
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.nuestro_servicio_subtitulo,
	.nuestro_servicio_infoCard{
		padding: 0rem;
	}

	.xq_trabajo_container{
		margin: 3rem;
	}

	.xq_trabajo_info{
	padding: 0rem;
}

	
.footer_data{
		padding-top: 2rem;
		padding-left: .5rem;
	}
	
}

/* For medium device */
@media screen and (min-width: 500px){
	.modal_login{
	left: 28%;
}
	
	.nuestro_servicio_flex{
		display: flex;
	}

	.nuestro_servicio_serivio{
		margin: 0rem 1rem 0rem ;
	}


	.nuestro_servicio-link{
  	font-size: 6rem;
	}

	.nuestro_servicio_titulo{
			padding-left: 1rem;
	}

	.nuestro_servicio_info{
		padding-left: 2rem;
		padding-right: 2rem;
	}


	.nuestro_servicio_subtitulo,
	.nuestro_servicio_infoCard{
		padding: 0rem;
	}

	.xq_trabajo_container{
		margin: 3rem;
	}

	.empresa_container {
		display: flex;

	}
	
	.empresa_img{
		width: 110%;
    height: 80%;
   	object-fit: cover;
	}
	


	.epmpresa_info {
	    text-align: right;

	}

	.footer_data{
		
		padding-top: 2rem;
		padding-left: 0rem;
	}

	.footer_data_flex{
		display: flex;	

	}
}

@media screen and (min-width: 590px){

	.xq_trabajo_container{
		margin: 3.5rem;
		display: flex;
		text-align: left;
		align-items: center;
	}

	.xq_trabajo_cajaImg{
		align-content: center;

	}

	.xq_trabajo_respuesta{
		color: var(--white-color);
	}

.empresa_container {
		display: flex;

	}



	.mision_vision_superCard{
		margin: 5rem 2rem;
		display: flex;
		align-items: center;

	}

	.mv_img{
		align-content: center;
		max-width: 250px;
	}
	
	.mision_vision_felxIconTitulo{
		margin-right: 1.2rem;

	}

	.mision_vision-link{
		align-items: center;
	}

	.mision_vision_infoCard{
		text-align: left;
		margin: 1rem;
	}

	.mision_vision_flexTextImg{
		display: flex;
		align-items: center;
	}

	.mision_vision_subtitulo {
    margin-bottom: 1.5rem;
}

	.footer_data{
		display: flex;	
		padding-top: 0rem;
		padding-left: 0rem;
	}

	.footer_data_flex{
		display: flex;	

	}

	
}

@media screen and (min-width: 640px){
	body{
		margin: 0;
	}

	.nav{
		height: calc(var(--header-height) + 1rem) ;
	}

.nav_user{
	font-size: 1.4rem;
	color: #fff;
}

.nav_user_animed{
	height: 25px;
	width: 80px;
}


.nav_user:hover{
	color: #fff;
	animation: infinite;
}

	.nav_link{
		color: var(--first-color);
		text-transform: initial;
		transition: 0.3s;
	}

	.nav_link:hover{
		color: var(--white-color);
	}

	.scroll-header .nav_link:hover{
		color: var(--text-color-ligt);
	}

	.scroll-header .nav_user_animed:hover{
		background-color:var(--text-color); 
	}
	
	.scroll-header .nav_link{
		color: var(--white-color);
	}

	.nav_menu{
		display: flex;
		column-gap: 1rem;
	}

	.nav_list{
		flex-direction: row;
		column-gap: 3rem;
	}

	.nav_toggle,
	.nav_close{
		display: none;
	}

	.scroll-header .active-link::before{
		background-color: var(--white-color);
	}

	.mv_img{
		align-content: center;
		max-width: 350px;
	}


}

@media screen and (min-width: 1024px){

	body{
		margin: 0;
	}
	.modal_login{
	left: 38%;
}

.cont_login{
	top: 15px;
}
	.container{
		margin-left: auto;
		margin-right: auto;
	}

	.empresa_container {
		align-items: center;
	}

}

