.modal_paquete{
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.81); 
    display: none; 
}

.bodyModalPaquete{
    
    width: 100%;
    height: 100%;
    display: -webkit-inline-flex; 
    display: -moz-inline-flex; 
    display: -ms-inline-flex; 
    display: -o-inline-flex; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
