
/*===== GOOGLE FONTS (tipografia) =====*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root{
	--nav-width: 92px;
	--header-height: 3rem ;
	/*-------- Colores ---------*/
	--hue-color: 19; /*del hsl() la primera (el q le da color), esta como variable para solo cambiar eso*/
										/*no esta implementado como variable ahora, para poder ver los colores*/

	/*-- Color mode --*/
	--first-color: hsl(19, 6%, 10%); /*hsl(hue, saturation, ligthness) una forma de dar color*/
	--first-color-second: hsl(19, 6%, 30%) ;
	--first-color-alt: hsl(19, 6%, 75%) ;
	--title-color: hsl(19, 6%, 18%);
	--text-color: hsl(19, 34%, 20%);
	--text-color-ligth: hsl(19, 8%, 40%);
	--input-color: hsl(190, 24%, 97%);
	--body-color: hsl(190, 100%, 99%);
	--white-color: #fff;
	--scroll-bar-color: hsl(19, 12%, 90%);
    --scroll-thumb-color: hsl(19, 12%, 75%);

    /*-------- Font and typography ---------*/
	--body-font: 'Open Sans', sans-serif; /*tipografia de todo el cuerpo*/
	--title-font: 'Raleway', sans-serif ; /*tipografia de titulo*/
	--biggest-font-size: 2.5rem ; /*tamaño mas grande*/
	--h1-font-size: 1.5rem;      /*tamaño del h1*/ 
	--h2-font-size: 1.25rem;     /*tamaño del h2*/
	--h3-font-size: 1rem;        /*tamaño del h3*/
	--normal-font-size: .938rem ; /*tamaño normal para parrafo*/
	--small-font-size: .813rem;   /*tamaño pequeño*/
	--smaller-font-size: .75rem;  /*tamaño mas pequeño*/

	/*-------- Font weight (el tamaño de negrita al text)--------*/
	--font-medium: 500;  
	--font-semi-bold: 600;
}

@media screen and (min-width: 968px){ /*cuando el tamaño de pantalla este 968px*/
	:root { /*las variables q se habian definido cambiaran a estas nuevas*/
		--biggest-font-size: 4rem ;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.75rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem ;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

/*===== BASE ================================*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	scroll-behavior: smooth;
}

body{
	position: relative;
	margin: 0;
	padding: 0 0 0 5.75rem;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--first-color);
	transition: 0.3s;
}

h1,h2,h3{
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
	font-family: var(--title-font);
}

ul,li{
	list-style: none;
}

a{
	text-decoration: none;
	color: var(--first-color);
}

p{
	font-size: var(--h2-font-size);
	font-weight: var(--font-semi-bold);
}

img, video{
	max-width: 100%;
	height: auto;
}

button,
input{
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

button{
	cursor: pointer;
	background-color: var(--first-color);
	color: var(--white-color);
	padding: 0.4rem 2rem;
	border-radius: 30px;
	transition: 0.3s;
}



input{
	outline: none;
	border-radius: 30px;
	padding: 0.2rem;
}

section{
  margin: 1rem 2rem;
  padding: 1.5rem ;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 15px 35px rgb(0 0 0 / 10%);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

select{
	border-radius: 30px;
}

main{
	position: relative;
	top: 70px;
}
.main{
	overflow-x: hidden;
}

/*===== REUSABLE CSS CLASES ================================*/
.section{
	padding: 0rem 0 5rem ;
}

.section_title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.container{
  max-width: 1100px; /*max del contenido de la pantalla mas no el tamaño de la pantalla*/
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid{
	display: grid;
	gap: 1.5rem; /*margen entre arriba abajo*/
}

/* SCROLL BAR------------ */
::-webkit-scrollbar {
  width: .60rem;
  border-radius: 30px;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
	border-radius: 30px;
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-ligth);
}

/* iconos y botones--------------------------------------------- */

 /*boton normal-------------------------*/
 .button_normal:hover {
	background-color: var(--first-color-second);
}

/*icon buscar*/
.icon_buscar{
	font-size: 1rem;
	margin: 0rem 0.4rem;
}

/*icon total (parte seccion superior)*/
.icon_total{
	font-size: 3.5rem;
	
 }

/*icon eliminar--------------------------*/
.icon_close{
	transition: 0.5s;
}
.icon_close:hover {
	color: red;
}

.icon_edit:hover {
	color: var(--text-color-ligth);
}
/* icono Adiccionar y Menos---------------------*/

.icon_add,
.icon_menos{
	font-size: 2rem;
	transition: 0.5s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}

.icon_add:hover {
	color: green;
}

.icon_menos:hover {
	color: var(--text-color-ligth);
}


/*===== HEADER ============================================================================*/
.l-navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: var(--nav-width);
	height: 100vh;
	background-color: var(--first-color);
	color: var(--white-color);
	padding: 1.5rem 1.5rem 2rem;
	transition: 0.3s;
	z-index: 100;
}

.nav{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.nav_brand{
	display: grid;
	grid-template-columns: max-content max-content;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.nav_toggle{
	font-size: 1.25rem;
	padding: 0.75rem;
	cursor: pointer;
}

.nav_logo{
	color: var(--white-color);
	font-size: var(--font-semi-bold);
}

.nav_link{
	display: grid;
	grid-template-columns: max-content max-content;
	align-items: center;
	column-gap: 0.75rem;
	padding: 0.75rem;
	color: var(--white-color);
	border-radius: 2rem;
	margin-bottom: 1rem;
	transition: 0.3s;
	cursor: pointer;
}

.nav_link:hover {
	background-color: var(--first-color-second);

}

.nav_icon{
	font-size: 1.25rem;
}

/*---Expandir Menú--------------------*/
.expander{
	width: calc(var(--nav-width) + 9.25rem);
}

/*--Añadir Padding al Body-----------*/
.body-pd{
	padding: 0 0 0 15rem;
}

/*--Active link----------------------*/
.active{
	background-color: var(--first-color-second);
}

/*--Desplegue Nav---------------------*/
.desplegue{
	grid-template-columns: 20px max-content 1fr;
}

.desplegue_link{
	justify-content: flex-end;
	transition: .3s;
}

.desplegue_menu{
	display: none;
	padding: .2rem 2.25rem;
	line-height: 2rem;
}

.desplegue_sublink{
	color: var(--white-color);
	font-size: var(--normal-font-size);
}

.desplegue_sublink:hover {
	color: var(--first-color-alt);
}

/*--Show Desplegue---------------------*/
.showDesplegue{
	display: block;

}

/*===== SECOND HEADER============================================================================*/

 .nav_vertical{
 	position: fixed;
 	display: flex;
 	justify-content: space-between;
 	width: 100%;	
 	background-color: var(--first-color-alt); 
	box-shadow: 0.5px  rgba(0, 0, 0, 0.07); /*sombra a la caja*/
	padding: 0.75rem;
	align-content: center;
	z-index: 999;
 }


 .nav_title{
 	position: fixed;
  right: 5px;
 	display: flex;
	align-items: center;
	flex-direction: row;
	column-gap: 2rem;
 }

  .nav_vertical_title{
 	padding-top: 0.4rem;
 	padding-right: 4rem;
 }


 .nav_title_buscar{
 	position: static;
 	background-color: var(--white-color);
 	border-radius: 30px;
 	padding: 0.4rem 1rem 0.4rem 0.4rem;
 	cursor: pointer;
 	align-items: center;
 	transition: 0.5s;
 }
  .nav_title_buscar:hover {
  	background-color: var(--first-color-second);
  	color: var(--white-color);
  }

 .nav_title_buscar input{
 	border: none;
 	width: 250px;
 	background-color: transparent;
 }


 .nav_title_userAdmi{
 	position: static;
 	display: flex;
 	justify-content: flex-end;
 }

  .img_userAdmi{
 	width: 50px;
 	border-radius: 100px;
 	margin-right: 0.5rem;
 }

 .nav_userAdmi_cont{
 	padding-top: 0.5rem;
 }

 /*===== TOTALES Y FILTRO ============================================================================*/

 .total_filtro{
 	display: flex;
 	column-gap: 1rem;
 	justify-content: center;

 }

 /*totales------------*/
 .total_rutas,
 .tienda_total_cont{
 	display: flex;
 	align-items: center;
 	column-gap: 0.8rem;
 	transition: 0.5s;
 	cursor: pointer;
 	width: 100%;
 	justify-content: center;
 }


.total_rutas:hover {
	background-color: var(--first-color-second);
 	color: var(--white-color);
}




  /*filtro ruta------------*/
.filtro_rutas{
width: 1700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
  .filtro_rutas_name{
  	display: flex;
  	justify-content: flex-end;
 	align-content: center;
  }

 .filtro_rutas_opcion{
 	justify-content: flex-end;
 	width: 170px;
 	cursor: pointer;
 }

 .filtro_destino{
 	margin-top: 1rem;
 	column-gap: 1rem;
 }

 .filtro_origen{
 	column-gap: 1.5rem;
 }

 /*===== TABLA RUTA y TIENDA ============================================================================*/

.tabla_ruta{
	justify-content: center;
	align-content: center;
	height: 250px;
	line-height: 2.7rem;
	overflow-y: scroll;
	border-radius: 15px;

}

.tabla_capa{
	margin: 1rem;
}

.tabla_ruta_cont{
	width: 100%;
	border-collapse: collapse;

}

.tabla_ruta_cont tr td input{
	text-align: center;
	width: 90px;

}

.tabla_ruta table tr,
.tabla_tienda table tr,
.tabla_enco table tr
{
	color: var(--first-color-second);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tabla_ruta thead,
.tabla_tienda thead,
.tabla_enco thead{
	background-color: var(--first-color-second);
	position: sticky;
	top: 0;
}

.tabla_ruta tbody {
	padding-left: 2rem;
}

.tabla_ruta thead td,
.tabla_tienda thead td,
.tabla_enco thead td{	
	font-weight: var(--font-semi-bold);
	color: var(--white-color);
}

.tabla_ruta table tbody td i,
.tabla_tienda table tbody td i,
.tabla_enco table tbody td i{
	font-size: 1.75rem;
	transition: 0.5s;
	cursor: pointer;
}
.tabla_tienda_cont thead tr{
    color:var(--white-color);;
}

/*===== TABLA RUTA ADICCIÓN============================================================================*/
.tabla_ruta_add{
	display: none;
}

/* show Add Ruta --------- */

.add-active{
	display: block;
}

.tabla_add{
	line-height: 2.7rem;
	border-radius: 20px;
	overflow-y:hidden;
}
.tabla_add thead {
	position: sticky;
	background-color: var(--scroll-bar-color);

}

.tabla_add_cont{
	width: 100%;
	border-collapse: collapse;
}
.tabla_add table input{
	width: 150px;
	cursor: pointer;
}


.tabla_add_cont thead td{	
	font-weight: var(--font-semi-bold);
	color: var(--first-color);

}


.button_add:hover {
	background-color: green;
}

/*===== NUESTRA TIENDA ============================================================================*/
.nuestraTienda, .tienda_totales{
		display: flex;
    justify-content: center;
    align-items: center;
}

.tienda_total_cont{
	justify-content: center;
}

.tienda_tablaTotales{
	width: 100%;
}

/*Tienda totales------------------------------*/
 .tienda_total_cont:hover,
 .tienda_total_cont:hover h2 {
 	background-color: var(--first-color-second);
 	color: var(--white-color);
 }

/* Filtro Buscar Provincia ------------------*/
.tienda_filtroProv_cont,
.filtro_tienda_name{
	display: flex;
	justify-content: center;
    align-items: center;
}

.tienda_filtroProv_cont{
	    display: flex;
    padding: 0.8rem;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.filtro_tienda_name{
	margin: 0 .6rem;
} 
.filtro_tienda_name h3{
	margin: 0 .5rem;
}


.filtro_tienda_opcion{
 	justify-content: flex-end;
 	width: 220px;
 	cursor: pointer;
 }

 /* TABLAS TIENDAS--------------------- */
.tienda_tablas{
		display: flex;
		justify-content: center;
    align-items: center;
}

.tabla_tienda{
	justify-content: center;
    align-content: center;
    height: 250px;  
    width: 100%;  
    line-height: 2.7rem;
    overflow-y: scroll;
    border-radius: 15px;
    
}

.tableEnco{
	width: 100%;
}

.tabla_tienda_cont{
	width: 100%;
   border-collapse: collapse;

}

.tabla_tienda_cont td{
	padding: 0 0.5rem;
}

/* SECCION ADICIONAR TIENDA PROVINCIA */
.add_seccion{
	justify-content: center;
    display: flex;
    flex-direction: column;

}

.add_seccion h2, 
.add_seccion h3,
.add_seccion input,
.add_seccion select{
	margin-bottom: 0.5rem;
}

.add_seccion h2{
	text-align: center;
}

.add_seccion input{
	width: 150px;
	border-color: 0.5px  rgba(0, 0, 0, 0.07); /*sombra a la caja*/
}



 /* ------ENCOMIENDA ---------------------------------------------------- */

.buscar_total_Enco,
.new_table_Enco{
    display: flex;
   justify-content: center;
  /*align-items: center;*/
  width: 100%;
}
/*buscar*/
.buscarEnco{
    display: flex;
    flex-direction: column;
    width: 400px;
    line-height: 2.7rem;
}
.buscarDireccionIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buscaTamaño{
    width: 100%;
    cursor: pointer;
}

/*total enco*/
.totalEnco{
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
}


/*new  enco*/
.newEnco{
      line-height: 2.7rem;
}

.newEnco h3{
    justify-content: center;
    text-align: center;
   
}
.alinearEnco div{
    display: grid;
    grid-template-columns: repeat(3, 0.35fr);
    /* grid-column-gap: 10px ; */
    align-items: center;
    justify-content: space-between;
    justify-items: start;
}

.forbottum{
 text-align: center;    
}

.new_volumen{
    display: none;

}
.add-active-volum{
    display: block;
}
.button_volumen i span{
         font-family: var(--body-font);
        font-size: var(--normal-font-size);
}

/*tabla enco--------------------------*/
.tabla_enco_cont td{
	padding: 0 0.5rem;
}


.tableEnco{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabla_enco{
    justify-content: center;
    align-content: center;
    height: 350px;  
    width: 100%;  
    line-height: 3rem;
    overflow-y: scroll;
    border-radius: 15px;
    
}

.tableEnco{
	width: 100%;
}

.tabla_enco_cont{
	width: 100%;
   border-collapse: collapse;

}

.tabla_enco_cont tbody input{
    width: 90px;
}

.tabla_enco_cont thead td:nth-child(4){
    width: 150px;
}

.tabla_enco_cont thead td:nth-child(5){
    width: 90px;
}