<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet"></link>
        <h:outputStylesheet library="css" name="estilo.css"/>
    </h:head>
    <h:body>
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav_logo">FAST COURIER</a>

                <div class="nav_menu" id="nav-menu">
                    <ul class="nav_list">
                        <li class="nav_item">
                            <a href="#home" class="nav_link active-link">Inicio</a>
                        </li>
                        <li class="nav_item">
                            <a href="#nuestro_servicio" class="nav_link">Servicio</a>
                        </li>
                        <li class="nav_item">
                            <a href="nosotros.jsp" class="nav_link">Nosotros</a>
                        </li>
                        <li class="nav_item">
                            <a href="contacto.jsp" class="nav_link">Contacto</a>
                        </li>
                    </ul>

                    <div class="nav_close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>	
                </div>

                <div class="nav_toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>

	<div class="social">
		<ul class="sci">
			
			<li><a href="#" target="_blank" class="home_social-link"><i class="ri-facebook-circle-fill"></i></a></li>
			
			
			<li><a href="#" target="_blank" class="home_social-link"><i class="ri-instagram-fill"></i></a></li>
			
			<li><a href="#" target="_blank" class="home_social-link"><i class="ri-whatsapp-fill"></i></a></li>			
		</ul>
	</div>
          	<section class="home section" id="home">
                    <img src="resources/img/img_inicio1.jpg" class="home_img"></img>

  		<div class="home_container container grid">
  			<div class="home_data">
  				<h1 class="home_data_titulo"><b>Bienvenido!!</b></h1>
  			</div>
  			<div class="home_info">
  				<p>Nosotros podemos entregar tu producto ya sea una caja o un sobre 
                                                                hasta tu domicilio!!. 
                                                                Este es un negocio que surgió desde hace años, como un emprendimiento familiar,
                                                                somo confiables y responsables en el traslado de mercaderias a nivel nacional. 
                                                                Asi qué no te preocupes!</p>
  			</div>
  			<div class="home_button">
  				
  			</div>
  		</div>

  	</section>
    </h:body>
</html>

