<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet"></link>
        <h:outputStylesheet library="css" name="estilo.css"/>
    </h:head>
    <h:body>
       <footer class="footer section">
            <div class="footer_container container grid">
                <div class="footer_content grid">
                    <div class="footer_data">

                        <h3 class="footer_title">FAST COURIER</h3>

                        <div class="footer_data_flex">
                            <div class="footer_data">
                                <ul>
                                    <li class="footer_item">
                                        <a href="#" class="footer_link">PREGUNTAS FRECUENTES</a>
                                    </li>
                                    <li class="footer_item">
                                        <a href="#" class="footer_link">TERMINOS Y CONDICIONES</a>
                                    </li>
                                    <li class="footer_item">
                                        <a href="#" class="footer_link">LIBRO DE RECLAMACIONES</a>
                                    </li>						
                                </ul>
                            </div>

                            <div class="footer_data">
                                <div class="footer_contacto">					

                                    <ul>
                                        <li>
                                            <div class="footer_contacto">
                                                <div>
                                                    <i class="ri-phone-fill footer_icon"></i>
                                                </div>
                                                Teléfono: (01)408-6145
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer_contacto">
                                                <div>
                                                    <i class="ri-building-fill footer_icon"></i>
                                                </div>
                                                Av. Los Rosales 103 - La Victoria - Lima
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer_contacto">
                                                <div>
                                                    <i class="ri-mail-fill footer_icon"></i>
                                                </div>
                                                fastCurier@gmail.com
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer_rights">
                        <p class="footer_copy">&#169; 2021 Grupo 07. All rogth reserved. Lima-Perú</p>
                    </div>
                </div>
            </div>    
        </footer>	
    </h:body>
</html>

