<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Servicio a Domicilio</title>
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet"></link>
        <h:outputStylesheet library="css" name="estilo_service.css"/>
        <h:outputScript library="js" name="myjs.js" target="head"></h:outputScript>
        <h:outputScript library="js" name="jquery-3.6.0.slim.js" target="head"></h:outputScript>
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
    </h:head>
    <h:body>
        <ui:include src='cabeceraPagina.xhtml'/>
        <article>
            <div id="contenedorForm" class="boxForm">
                <h1 class="tituloServicios">REGISTRO DE ENVIOS</h1>
                <h:form id='formularioPrincipal'>
                    <section id="paso1">       
                        <div class="areaDatos">
                            <h2>¿Quién Envía?</h2><br></br>
                            <div class="filaFormulario">
                                <div class="seccion46">
                                    <h:outputText value="Nombres: "></h:outputText>
                                    <h:inputText required="true" value="#{beanPedidoDomicilio.cliente_nom}"></h:inputText>
                                </div>
                                <div class="seccion46">
                                    <h:outputText value="Apellidos: "></h:outputText>
                                    <h:inputText required="true" value="#{beanPedidoDomicilio.cliente_ap}"></h:inputText><br/>
                                </div> 
                            </div>
                            <br></br>
                            <div class="filaFormulario">
                                <div class="seccion46"><h:outputText value="DNI: "></h:outputText>
                                    <h:inputText required="true" maxlength="8" value="#{beanPedidoDomicilio.cliente_dni}"></h:inputText>
                                </div>
                                <div class="seccion46"><h:outputText value="Correo Electronico "></h:outputText>
                                    <h:inputText required="true" value="#{beanPedidoDomicilio.cliente_correo}"></h:inputText>
                                </div>
                            </div>
                            <br></br>
                            <div class="filaFormulario">
                                <div class="seccion46"><h:outputText value="Celular "></h:outputText>
                                    <h:inputText required="true" maxlength="9" value="#{beanPedidoDomicilio.cliente_celular}"></h:inputText>
                                </div>
                            </div>
                            <br></br>
                            <div class="filaFormulario">
                                <div class="seccion46">
                                    <h:outputText value="Provincia: "></h:outputText>
                                    <h:selectOneMenu id='provincia' value='#{beanPedidoDomicilio.prov_codigo}'> 
                                        <f:selectItem itemLabel="Seleccione" itemValue=""/>
                                        <f:selectItems value='#{beanPedidoDomicilio.listaProvincias}'/>
                                        <p:ajax update="tienda"/>
                                    </h:selectOneMenu>
                                </div>
                                <div class="seccion46">
                                    <h:outputText value="Tienda: "></h:outputText>
                                    <h:selectOneMenu id='tienda' value='#{beanPedidoDomicilio.tienda_codigo}'>
                                        <f:selectItem itemLabel="Seleccione" itemValue=""/>
                                        <f:selectItems value='#{beanPedidoDomicilio.listaTiendas}'/>
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            <br></br>
                        </div>
                    </section>
                    <div id="paso2">
                        <h2 style="padding-left:80px">Tipos de envío</h2>
                        <div class="barraTipo">
                            <div id="opcionSobre" onclick="showSobre()" class="EnvioSobre" onmouseover="colorSobre()">
                                <div>
                                    <svg viewBox="0 0 32 32" version="1.1">
                                        <title>Envio de Sobre</title>
                                        <h:outputStylesheet name="css/jsfcrud.css"/>
                                        <defs></defs>
                                        <style type="text/css">
                                            .stA{fill:black;stroke:hsl(190, 24%, 97%);stroke-width:0.5;}
                                        </style>
                                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" >
                                            <g id="icon-2-mail-envelope-open"  fill="#000000">
                                                <path class="stA" id="sobreIcono" d="M11.2931426,19 L8,16.2000122 L8,8.00207596 C8,7.44373571 8.44769743,7 8.9999602,7 
                                                      L24.0000398,7 C24.5452911,7 25,7.44864469 25,8.00207596 L25,16.2000122 L21.6668971,19 
                                                      L11.2931426,19 L11.2931426,19 Z M12.4692701,20 L14.2521973,21.5159302 L18.671936,
                                                      21.5159302 L20.476498,20 L12.4692701,20 L12.4692701,20 Z M22.1851633,20.1270029 L20,22 
                                                      L20,22 L25.9230769,27.0769231 L25.9230769,27.0769231 L25.1153846,27.8846154 L19.1195568,
                                                      22.7453344 L13.8961462,22.7681253 L13.875,22.75 L7.88461538,27.8846154 L7.07692308,
                                                      27.0769231 L7.07692308,27.0769231 L13,22 L10.8148367,20.1270029 L7,16.9000244 L7,11.36 
                                                      L4,14 L4,15 L4,28.0059397 C4,29.1072288 4.88976324,30 6.00359486,30 L26.9964051,30 
                                                      C28.10296,30 29,29.1054862 29,28.0059397 L29,14 L26,11.36 L26,16.9000244 L22.1851633,
                                                      20.1270029 L22.1851633,20.1270029 L22.1851633,20.1270029 Z M19.9090909,6 L16.5,3 
                                                      L13.0909091,6 L19.9090909,6 L19.9090909,6 L19.9090909,6 Z M10,10 L10,11 L23,11 L23,10 
                                                      L10,10 L10,10 Z M10,13 L10,14 L23,14 L23,13 L10,13 L10,13 Z M10,16 L10,17 L23,17 L23,16 
                                                      L10,16 L10,16 Z"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <p>Sobre</p>
                                <p>Peso máximo: 100g</p>
                                <p>Solo para documentos</p>
                            </div>
                            <div class="EnvioSobre" id="opcionCaja" onclick="showCaja()" onmouseover="colorCaja()">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 128 128">
                                        <style type="text/css">
                                            .st2{fill:black;stroke:black;stroke-width:0.5;}
                                        </style>
                                        <polyline fill="#fff" points="12,34 32,14 96,14 116,34"/>
                                        <rect width="104" height="80" x="12" y="34" fill="#fff"/>
                                        <path id="contornoCaja" class="st2" fill="#444b54" d="M118.1,31.9l-20-20C97.6,11.3,96.8,11,96,11H32c-0.8,0-1.6,0.3-2.1,0.9l-20,20C9.3,32.4,9,33.2,9,34v80 c0,1.7,1.3,3,3,3h104c1.7,0,3-1.3,3-3V34C119,33.2,118.7,32.4,118.1,31.9z M108.8,31H67V17h27.8L108.8,31z M33.2,17H61v14H19.2 L33.2,17z M113,111H15V37h98V111z"/>
                                    </svg>
                                </div>
                                <p>Caja</p>
                                <p>Peso máximo: 254g</p>
                                <p>Medidas mínimas: 14 x 10 x 10 cm</p>
                            </div>
                        </div>
                    </div>    
                    <br></br>
                    <div id="caja" style="display:none">
                        <fieldset>
                            <div class="areaDatos">
                                <h2>¿Qué se Envía?</h2><br></br>
                                <div class="filaFormulario">
                                    <div class="seccion22">
                                        <h:outputText value="Largo: "></h:outputText>
                                        <h:inputText value="#{beanPedidoDomicilio.fondo}"></h:inputText>
                                    </div>
                                    <div class="seccion22">
                                        <h:outputText value="Ancho: "></h:outputText>
                                        <h:inputText value="#{beanPedidoDomicilio.ancho}"></h:inputText>
                                    </div> 
                                    <div class="seccion22">
                                        <h:outputText value="Altura: "></h:outputText>
                                        <h:inputText value="#{beanPedidoDomicilio.alto}"></h:inputText>
                                    </div>
                                    <div class="seccion22">
                                        <h:outputText value="Peso (kg): "></h:outputText>
                                        <h:inputText maxlength="2" value="#{beanPedidoDomicilio.peso}"></h:inputText>
                                    </div>
                                </div><br></br>   
                                <div class="filaFormulario">
                                    <div class="seccion60">
                                        <h:outputText value="Especifique: "></h:outputText>
                                        <h:inputText value="#{beanPedidoDomicilio.paquete_desc}"></h:inputText>
                                    </div>
                                    <div class="seccion35">
                                        <h:outputText value="Valor referencial: "></h:outputText>
                                        <h:inputText value="#{beanPedidoDomicilio.valorRef}"></h:inputText>
                                    </div>
                                </div>
                                <br></br>
                            </div>
                        </fieldset>    
                    </div>

                    <br></br>
                    <div class="areaDatos" id="pasoIntermedio" style="display:block">
                        <h2>¿Quién recibe?</h2>
                        <br></br>
                        <div class="filaFormulario">
                            <div class="seccion46">
                                <h:outputText value="Nombres: "></h:outputText>
                                <h:inputText required="true" value="#{beanPedidoDomicilio.destinatario_nom}"></h:inputText>
                            </div>
                            <div class="seccion46">
                                <h:outputText value="Apellidos: "></h:outputText>
                                <h:inputText required="true" value="#{beanPedidoDomicilio.destinatario_nom}"></h:inputText>
                            </div>
                        </div><br></br>
                        <div class="filaFormulario">
                            <div class="seccion22">
                                <h:outputText value="DNI: "></h:outputText>
                                <h:inputText required="true" maxlength="8" value="#{beanPedidoDomicilio.destinatario_dni}"></h:inputText>
                            </div>
                            <div class="seccion22">
                                <h:outputText value="teléfono: "></h:outputText>
                                <h:inputText required="true" maxlength="9" value="#{beanPedidoDomicilio.tlf_llegada}"></h:inputText>
                            </div>
                            <div class="seccion22">
                                <h:outputText value="Departamento: "></h:outputText>
                                <h:selectOneMenu id='depLlegada' value='#{beanPedidoDomicilio.dep_llegada_codigo}'> 
                                    <f:selectItem itemLabel="Seleccione" itemValue=""/>
                                    <f:selectItems value='#{beanPedidoDomicilio.listaDep}'/>
                                    <p:ajax update="provLlegada"/>
                                </h:selectOneMenu>
                            </div>
                            <div class="seccion22">
                                <h:outputText value="Provincia: "></h:outputText>
                                <h:selectOneMenu id='provLlegada' value='#{beanPedidoDomicilio.prov_llegada_codigo}'>
                                    <f:selectItem itemLabel="Seleccione" itemValue=""/>
                                    <f:selectItems value='#{beanPedidoDomicilio.listaDist}'/>
                                </h:selectOneMenu>
                            </div>
                        </div><br></br>
                        <div class="filaFormulario">
                            <div class="seccion90">
                                <h:outputText value="Dirección: "></h:outputText>
                                <h:inputText required="true" value="#{beanPedidoDomicilio.dir_llegada_desc}"></h:inputText>
                            </div>
                        </div>
                        <br></br>
                        <div class="filaFormulario">
                            <div class="seccion90">
                                <h:outputText value="Referencia: "></h:outputText>
                                <h:inputText required="true" value="#{beanPedidoDomicilio.dir_llegada_ref}"></h:inputText>
                            </div>
                        </div>
                        <br></br>
                    </div>
                    <div class="boton" id="btnsCaja">
                        <h:commandButton  class="button_cont button" value="Enviar" actionListener="#{beanPedidoDomicilio.cargarATablaResumen}"
                                          onclick="PF('popUp').show();" action="tablaResumenDomicilio.xhtml" />

                    </div>
                    <p:dialog widgetVar="popUp" header="¡Exito!" modal="true" width="300" height="50" 
                              showEffect="bounce"  hideEffect="explode" closeOnEscape="true" >
                        <h:outputText value="Se cargó exitosamente el campo"></h:outputText>
                    </p:dialog>
                </h:form>
            </div>
        </article>
        <!-- footer (COPIAR PEGAR)-->				
        <footer class="footer section">
            <div class="footer_container container grid">
                <div class="footer_content grid">
                    <div class="footer_data">

                        <h3 class="footer_title">FAST COURIER</h3>

                        <div class="footer_data_flex">
                            <div class="footer_data">
                                <ul>
                                    <li class="footer_item">
                                        <a href="#" class="footer_link">PREGUNTAS FRECUENTES</a>
                                    </li>
                                    <li class="footer_item">
                                        <a href="#" class="footer_link">TERMINOS Y CONDICIONES</a>
                                    </li>
                                    <li class="footer_item">
                                        <a href="#" class="footer_link">LIBRO DE RECLAMACIONES</a>
                                    </li>						
                                </ul>
                            </div>

                            <div class="footer_data">
                                <div class="footer_contacto">					

                                    <ul>
                                        <li>
                                            <div class="footer_contacto">
                                                <div>
                                                    <i class="ri-phone-fill footer_icon"></i>
                                                </div>
                                                Teléfono: (01)408-6145
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer_contacto">
                                                <div>
                                                    <i class="ri-building-fill footer_icon"></i>
                                                </div>
                                                Av. Los Rosales 103 - La Victoria - Lima
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer_contacto">
                                                <div>
                                                    <i class="ri-mail-fill footer_icon"></i>
                                                </div>
                                                fastCurier@gmail.com
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer_rights">
                        <p class="footer_copy">&#169; 2021 Grupo 07. All rogth reserved. Lima-Perú</p>
                    </div>
                </div>
            </div>    
        </footer>	
        <!--SCROLL UP (Boton arriba) (COPIAR PEGAR)-->
        <a href="" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-s-line scrollup_icon"></i>
        </a>

        <!-- SCROLL REVEAL (ANIMACION) (COPIAR PEGAR)-->
        <script type="text/javascript" src="resources/js/scrollreveal.min.js"></script>

        <!-- NUESTRO JS (COPIAR PEGAR)-->
        <script type="text/javascript" src="resources/js/main.js"></script>
    </h:body>
</html>
