<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="estilo_service.css"/>
    </h:head>
    <h:body>
        <ui:include src='cabeceraPagina.xhtml'/>
        <article> 
            <div class="boxForm">    
                <h2>Resumen de envíos de Pedidos a Agencia</h2>
                    <h:form> 
                    <h:dataTable value="#{beanPedidoCarga.pedidosGenerados}"
                                 var="pedCarga" rendered="#{beanPedidoCarga.pedidosGenerados.size()>0}" class="tabla_tienda">
                        <h:column>
                            <f:facet name="header">* 
                            </f:facet>
                          </h:column>
                        <h:column>
                            <f:facet name="header">*
                            </f:facet>
                         </h:column>
                        <h:column>
                            <f:facet name="">    
                                "N°
                            </f:facet>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                Recibe
                            </f:facet>
                    #{pedCarga.dest.nombre}
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                Origen - Destino
                            </f:facet>
                    #{pedCarga.pc.ruta.ruta_origen} - #{pedCarga.pc.ruta.ruta_destino}
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                Tipo de Encomienda
                            </f:facet>
                    #{pedCarga.pc.encomienda.enco_tipo}
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                Precio s/.
                            </f:facet>
                    #{pedCarga.pc.PC_tarifa_final}
                        </h:column>
                    </h:dataTable>
                </h:form>
        <section class="boton" id="btnsCaja">
            <h:button class="button_cont" value="Regresar" outcome="Servicio_Carga.xhtml"/>
        </section>
            </div>
        </article>    
                <!--footer (COPIAR PEGAR)-->				
        <footer class="footer section">
            <div class="footer_container container grid">
                <div class="footer_content grid">
                    <div class="footer_data">

                        <h3 class="footer_title">FAST COURIER</h3>

                        <div class="footer_data_flex">
                            <div class="footer_data">
                                <ul>
                                    <li class="footer_item">
                                        <a href="#" class="footer_link">PREGUNTAS FRECUENTES</a>
                                    </li>
                                    <li class="footer_item">
                                        <a href="#" class="footer_link">TERMINOS Y CONDICIONES</a>
                                    </li>
                                    <li class="footer_item">
                                        <a href="#" class="footer_link">LIBRO DE RECLAMACIONES</a>
                                    </li>						
                                </ul>
                            </div>

                            <div class="footer_data">
                                <div class="footer_contacto">					

                                    <ul>
                                        <li>
                                            <div class="footer_contacto">
                                                <div>
                                                    <i class="ri-phone-fill footer_icon"></i>
                                                </div>
                                                Teléfono: (01)408-6145
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer_contacto">
                                                <div>
                                                    <i class="ri-building-fill footer_icon"></i>
                                                </div>
                                                Av. Los Rosales 103 - La Victoria - Lima
                                            </div>
                                        </li>
                                        <li>
                                            <div class="footer_contacto">
                                                <div>
                                                    <i class="ri-mail-fill footer_icon"></i>
                                                </div>
                                                fastCurier@gmail.com
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer_rights">
                        <p class="footer_copy">&#169; 2021 Grupo 07. All rogth reserved. Lima-Perú</p>
                    </div>
                </div>
            </div>     
        </footer>	
    <!-- SCROLL UP (Boton arriba) (COPIAR PEGAR)-->
    <a href="" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-s-line scrollup_icon"></i>
    </a>

    <!-- SCROLL REVEAL (ANIMACION) (COPIAR PEGAR)-->
    <script type="text/javascript" src="resources/js/scrollreveal.min.js"></script>

    <!-- NUESTRO JS (COPIAR PEGAR)-->
    <script type="text/javascript" src="resources/js/main.js"></script>
    </h:body>
</html>

