<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet"></link>
        <h:outputStylesheet library="css" name="estilo_service.css"/>
    </h:head>
    <h:body>
        <ui:include src='cabeceraPagina.xhtml'/>

        <article> 
            <div class="boxForm">
                <h2>Resumen de envíos de Pedidos a Domicilio</h2>
                <h:form> 
                    <h:dataTable value="#{beanPedidoDomicilio.pedidosGenerados}"
                                 var="pedDomi" rendered="#{beanPedidoDomicilio.pedidosGenerados.size()>0}" class="tabla_tienda">
                        <h:column>
                            <f:facet name="header">* 
                            </f:facet>
                            <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M14 19h7v2h-9l-3.998.002-6.487-6.487a1 1 0 0 1 0-1.414L12.12 2.494a1 1 0 0 1 1.415 0l7.778 7.778a1 1 0 0 1 0 1.414L14 19zm1.657-4.485l3.535-3.536-6.364-6.364-3.535 3.536 6.364 6.364z"/></svg>
                       --> </h:column>
                        <h:column>
                            <f:facet name="header">*
                            </f:facet>
                          <!--  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M16.626 3.132L9.29 10.466l.008 4.247 4.238-.007 7.331-7.332A9.957 9.957 0 0 1 22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2c1.669 0 3.242.409 4.626 1.132zm3.86-1.031l1.413 1.414-9.192 9.192-1.412.003-.002-1.417L20.485 2.1z"/></svg>
                        --></h:column>
                        <h:column>
                            <f:facet name="">    
                                "N°
                            </f:facet>
                            <h:outputLabel value="0"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                Recibe
                            </f:facet>
                    #{pedDomi.dest.nombre}
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                Origen - Destino
                            </f:facet>
                    #{pedDomi.pd.ruta.ruta_origen} - #{pedDomi.pd.ruta.ruta_destino}
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                Tipo de Encomienda
                            </f:facet>
                    #{pedDomi.pd.encomienda.enco_tipo}
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                Precio s/.
                            </f:facet>
                    #{pedDomi.pd.PD_tarifa_final}
                        </h:column>
                    </h:dataTable>
                </h:form>
            </div>    
            <div class="boton" id="btnsCaja">
                <h:button class="button_cont" value="Regresar" outcome="Servicio_Domicilio.xhtml" />
            </div>
        </article>
					
    <!-- SCROLL UP (Boton arriba) (COPIAR PEGAR)-->
    <a href="" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-s-line scrollup_icon"></i>
    </a>

    <!-- SCROLL REVEAL (ANIMACION) (COPIAR PEGAR)-->
    <script type="text/javascript" src="resources/js/scrollreveal.min.js"></script>

    <!-- NUESTRO JS (COPIAR PEGAR)-->
    <script type="text/javascript" src="resources/js/main.js"></script>
    
    </h:body>
    <ui:include src='footerPagina.xhtml'/>
</html>

